<div ng-controller='navbarController as vm'>

    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img width="50px" src="./assets/img/logo1.png"></a>
            <a class="titre" href="#">Dammarie Rugby Club</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">L'école<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Cadets Juniors<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="badges.html">Séniors</a></li>
                <li><a href="badges.html">Accueil</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1mobile">L'école<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown2mobile">Cadets Juniors<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="badges.html">Séniors</a></li>
              <li><a href="badges.html">Accueil</a></li>
              </ul>
        </div>
    </nav>
</div>
<ul id="dropdown1" id="dropdown1mobile"class="dropdown-content">
    <li><a href="#!">Micros poussins</a></li>
    <li><a href="#!">Mini poussins</a></li>
    <li><a href="#!">Poussins</a></li>
    <li><a href="#!">Benjamins</a></li>
    <li><a href="#!">Minimes</a></li>

</ul>
<ul id="dropdown2" id="dropdown2mobile"class="dropdown-content">
    <li><a href="#!">Cadets</a></li>
    <li><a href="#!">Juniors</a></li>
</ul>
<ul id="dropdown1mobile"class="dropdown-content">
    <li><a href="#!">Micros poussins</a></li>
    <li><a href="#!">Mini poussins</a></li>
    <li><a href="#!">Poussins</a></li>
    <li><a href="#!">Benjamins</a></li>
    <li><a href="#!">Minimes</a></li>

</ul>
<ul id="dropdown2mobile"class="dropdown-content">
    <li><a href="#!">Cadets</a></li>
    <li><a href="#!">Juniors</a></li>
</ul>
<!-- <nav class="navbar navbar-inverse navbar-yellow" role="navigation" ng-controller='navbarController as vm'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="assets/img/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" ng-show='vm.isLogged'>
                    <a href="#/"><span class="glyphicon glyphicon-book"></span>&nbsp;Todos</a>
                </li>
                <li class='disabled' ng-show='vm.sessionFactory.user.isAdmin'>
                    <a href="#/"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Admin</a>
                </li>
                <li class='disabled' ng-show='vm.isLogged'>
                    <a href="#/"><span class="glyphicon glyphicon-user"></span>&nbsp;My account</a>
                </li>
                <li ng-show='vm.isLogged'>
                    <a href="" ng-click='vm.logout()'><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out</a>
                </li>
                <li class='active' ng-hide='vm.isLogged'>
                    <a href="#/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
